@use '../../../styles/mixins.scss';
@use '../../../styles/var.scss';

.button {
  font-family: inherit;
  width: 120px;
  height: 40px;
  border-radius: var.$border-radius;
  color: var.$background-color;
  background-color: var.$primary-accent-color;
  border: none;

  @include mixins.on-tablet {
    height: 40px;
    width: 120px;
  }
  @include mixins.on-desktop {
    height: 48px;
    width: 200px;
  }
}