@use '../../styles/var.scss';
@use '../../styles/mixins.scss';

.overlay {
  position: fixed; // fix on viewport 
  inset: 0; // short for top: 0;right: 0; bottom: 0; left: 0;
  z-index: 1000;
  // center modal 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  background-color: var.$white-background-color;
  border-radius: var.$border-radius;
}