@use '../../styles/var.scss';
@use '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 0;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: var.$primary-accent-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.favoriteIcon {
  mask-image: url('../../../img/icons/heart-light.svg');
}

.cartIcon {
  mask-image: url('../../../img/icons/cart-light.svg');
}

.title {
  padding-block: 8px 4px;
  color: var.$secondary-text-color;
}

.subTitle {
  text-align: center;
  color: var.$light-grey-color;
  width: 116px;

  @include mixins.on-desktop {
    width: 144px;
  }
  
}
