@use '../../../styles/mixins.scss';
@use '../../../styles/var.scss';

.cartButton {
  position: absolute;
  top: 35%;
  right: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: var.$light-grey-color;
    mask-image: url('/src/img/icons/cart-light.svg');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    @include mixins.on-tablet {
      display: none;
    }
  }

}