@use '../../styles/var.scss';

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; 
  min-width: 0;

  &__header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: var.$mobileHeaderHeight;
    padding-inline: 16px;
  }

  &__burgerMenuButton {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__burgerMenuIcon {
    display: block;
    width: 32px;
    height: 32px;
    mask-image: url('/src/img/icons/burgerMenu.svg');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var.$secondary-text-color;
  }

  &__content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
  }

  &__footer {
    height: 34px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 21px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 134px;
      height: 5px;
      background-color: black;
      border-radius: var.$border-radius;
    }
  }
}
