@use '../../shared/styles/mixins.scss';
@use '../../shared/styles/var.scss';

.container {
  @include mixins.content-padding-inline;
  padding-bottom: 16px;
  max-width: 1120px;
  margin-left: 0;

  @include mixins.on-tablet {
    padding-block: 24px;
  }

  @include mixins.on-desktop {
    padding-block: 32px;
  }
}

.title {
  padding-bottom: 16px;

  @include mixins.on-tablet {
    padding-bottom: 24px;
  }

  @include mixins.on-desktop {
    padding-bottom: 32px;
  }
}

.additionalTitle {
  padding-block: 24px 16px ;
  color: var.$secondary-text-color;

  @include mixins.on-tablet {
    padding-block: 32px 24px;
  }

  @include mixins.on-desktop {
    padding-block: 40px 32px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-tablet {
    flex-direction: row;
    gap: 16px;
  }
  
}

.addFilters {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 16px;

  @include mixins.on-tablet {
    flex-direction: row;
    flex-shrink: 0;
    width: 370px;
    gap: 16px;
  }

  @include mixins.on-desktop {
    width: 680px;
    gap: 16px;
  }
}