@use '../../../styles/var.scss';
@use '../../../styles/mixins.scss';

.favorite {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: var.$white-background-color;

  @include mixins.on-desktop {
    width: 32px;
    height: 32px;
  }

  &__icon {
    width: 16px;
    height: 16px;

    mask-image: url('/src/img/icons/heart-light.svg');
    mask-size: contain;

    background-color: var.$primary-accent-color;
    @include mixins.on-desktop {
      width: 20px;
      height: 20px;
    }
  }

  &__icon_active {
    width: 14px;
    height: 14px;

    mask-image: url('/src/img/icons/heart-filled.svg');
    mask-size: contain;

    background-color: var.$primary-accent-color;

    @include mixins.on-desktop {
      width: 20px;
      height: 20px;
    }
  }
}