@use '../../../styles/mixins.scss';

.arrow {
  position: absolute;
  right: 8px;
  width: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  pointer-events: none;
  transition: transform 0.2s;

  @include mixins.on-desktop {
    width: 24px;
    right: 16px;
  }
}

.arrowOpen {
  transform: translateY(-50%) rotate(180deg);
}