@use './var.scss';

@mixin on-tablet {
  @media (min-width: var.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: var.$desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} var.$effectDuration;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin hover-scale {
  transition: transform 0.3s ease;

  &:not(:disabled):hover {
    transform: scale(1.05);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin content-padding-inline() {
  padding-inline: 16px;
  margin-inline: auto;
  box-sizing: border-box;

  @include on-tablet {
    margin-inline: auto;
    padding-inline: 24px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.container {
  @include content-padding-inline;
}
