$primary-text-color:#262626;
$secondary-text-color: #6D6D6D;
$additional-text-color: #5D5D5D;
$light-grey-color: #ABABAC;
$background-color: #F9F9FB;
$white-background-color: #FFFFFF;
$primary-accent-color: #F26207;
$border-color: #F9F9F9;
$details-color: #D4D3D2;

$tablet-min-width: 744px;
$desktop-min-width: 1280px;
$content-max-width: 1440px;

$border-radius: 12px;

$box-shadow: 0px 0px 4px 0px #B0B0B033;

$effectDuration: 500ms;
$mobileHeaderHeight: 64px;
$mobileFooterHeight: 34px;