@use '../../styles/var.scss';
@use '../../styles/mixins.scss';

.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: var.$border-radius;
  background-color: var.$white-background-color;
  transform-origin: center;

  @include mixins.hover-scale;

  @include mixins.on-tablet {
    width: 245px;
  }
  @include mixins.on-desktop {
    width: 324px;

  }
}

.cardLink {
  text-decoration: none;
}

.pictureBlock {
  position: relative;

  &__picture {
    display: block;
    width: 100%;
    height: clamp(109px, 24vw, 140px);
    object-fit: cover;
    border-radius: var.$border-radius;
    cursor: pointer;
  
    @include mixins.on-tablet {
      height: 110px;
      width: 245px;
    }
    @include mixins.on-desktop {
      height: 148px;
      width: 324px;
    }
  }
  
  &__specs {
    position: absolute;
    width: 100%;
    top: 8px;
    display: flex;
    padding-inline: 16px;
    justify-content: space-between;
    @include mixins.on-tablet {
      width: 245px;
      top: 12px;
    }
  
    @include mixins.on-desktop {
      width: 324px;
      top: 16px;
    }
  }
}

.textBlock {
  padding-inline: 12px;
  padding-block: 12px;

  @include mixins.on-tablet {
    padding-inline: 12px;
    padding-block: 12px;
  }

  @include mixins.on-desktop {
    padding-inline: 16px;
    padding-block: 16px;
  }

  &__title {
    display: flex;
    // box-sizing: content-box;
    // height: 60px;
    cursor: pointer;
    color: var.$primary-text-color;

    @include mixins.on-tablet {
      height: 36px;
      line-height: 100%;
    }
  
    @include mixins.on-desktop {
      height: 48px;
      line-height: 100%;
    }
  }
  
  &__description {
    display: none;

    @include mixins.on-tablet {
      display: flex;
      box-sizing: content-box;
      padding-top: 4px;
      margin: 0;  
      color: var.$additional-text-color;
    }

    @include mixins.on-desktop {
      padding-top: 8px;
    }
  }
}

.detailsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4px;
  padding-bottom: 12px;

  @include mixins.on-tablet {
    padding-inline: 12px;
  }

  @include mixins.on-desktop {
    padding-inline: 16px;
    padding-bottom: 16px;
  }
}

