@use '../../styles/mixins.scss';
@use '../../styles/var.scss';

.logo {
  display: flex;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &__default {
    width: 110px;
  
    @include mixins.on-desktop {
      width: 192px;
    }
  }
  
  &__compact {
    width: 32px;
    height: 32px;
  }
}
