@use '../../../styles/var.scss';
@use '../../../styles/mixins.scss';

.filter_power {
  width: 100%;
  @include mixins.on-tablet {
    width: 250px;
  }

  @include mixins.on-desktop {
    width: 324px;
  }
}

.title {
  padding-bottom: 8px;
  color: var.$secondary-text-color;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background-color: var.$white-background-color;
  border-radius: var.$border-radius;
  box-shadow: var.$box-shadow;

  @include mixins.on-tablet {
    gap: 4px;
  }

  @include mixins.on-tablet {
    gap: 8px;
  }
}

.button {
  height: 32px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 80px;
  border-radius: var.$border-radius;
  border: none;
  background-color: var.$white-background-color;
  color: var.$secondary-text-color;

  @include mixins.on-tablet {
    height: 40px;
    min-width: 56px;
  }

  @include mixins.on-desktop {
    height: 56px;
    min-width: 80px;
  }

  &.active {
    // background-color: var.$primary-accent-color;
    border: 2px solid var.$primary-accent-color;
    border-radius: var.$border-radius;
  }
}