@use '../../../styles/var.scss';
@use '../../../styles/mixins.scss';

.filter {
  flex: 1
}

.title {
  padding-bottom: 8px;
  color: var.$secondary-text-color;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: var.$white-background-color;
  border-radius: var.$border-radius;
  padding-left: 16px;
  box-shadow: var.$box-shadow;

  @include mixins.on-tablet {
    height: 40px;
  }

  @include mixins.on-desktop {
    height: 56px;
  }
}

.value {
  color: var.$secondary-text-color;
}

.dropdown {
  width: 100%;
  position: absolute;
  background-color: var.$white-background-color;
  border-radius: var.$border-radius;
  list-style: none;
  margin-top: 4px;
  z-index: 1;
  box-shadow: var.$box-shadow;
}

.listItem {
  padding-left: 16px;
  display: flex;
  align-items: center;
  height: 32px;
  color: var.$secondary-text-color;

  @include mixins.on-tablet {
    height: 40px;
  }

  @include mixins.on-desktop {
    height: 56px;
  }

  &:hover {
    background-color: var.$background-color;
  }
}
