@use '../../styles/var.scss';
@use '../../styles/mixins.scss';

.time {
  display: flex;
  gap: 4px;
  background-color: var.$white-background-color;
  border-radius: var.$border-radius;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 52px;
  color: var.$primary-accent-color;
  border: 1px solid #FEEFE6;
  

  @include mixins.on-desktop {
    height: 30px;
    width: 70px;
  }

  &__icon {
    width: 16px;
    height: 16px;

    mask-image: url('/src/img/icons/clock.svg');
    mask-size: contain;

    background-color: var.$primary-accent-color;
  }

  &__text {
    font-size: 16px;
  }
}