@use './shared/styles/mixins.scss';
@use './shared/styles/var.scss';
@use './shared/styles/typography.scss';

.page {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
  color: var.$primary-text-color;
  background-color: var.$background-color;
  height: 100%;
  margin: 0;

  &__body {
    height: 100%;
    min-width: 320px;
    max-width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}