@use '../../shared/styles/mixins.scss';
@use '../../shared/styles/var.scss';
@use '../../shared/styles/typography.scss';

.container {
  
  @include mixins.content-padding-inline;
  
  max-width: 1120px;
  margin-left: 0;
  padding-block: 16px 110px;

  @include mixins.on-tablet {
    padding-block: 16px;
  }

  @include mixins.on-desktop {
    padding-block: 40px;
  }
}

.recipe {

  &__mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    padding-block: 16px;

    @include mixins.on-tablet {
      flex-direction: row;
    }

    @include mixins.on-desktop {
      gap: 32px;
      padding-block: 32px 40px;
    }
  }

  &__detailsBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mixins.on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mixins.on-desktop {
      gap: 32px;
    }

  }
}

.pictureBlock {
  position: relative;
  width: 100%;

  @include mixins.on-tablet {
    width: 226px;
  }

  @include mixins.on-desktop {
    width: 324px;
  }
}

.picture {
  display: block;
  width: 100%;
  height: 149px;
  object-fit: cover;
  border-radius: var.$border-radius;

  @include mixins.on-tablet {
    width: 226px;
    height: 168px;
  }

  @include mixins.on-desktop {
    width: 324px;
    height: 240px;
  }
}

.specs {
  position: absolute;
  top: 16px;
  right: 16px;

  @include mixins.on-tablet {
    top: 12px;
    right: 12px;
  }

  @include mixins.on-desktop {
    top: 16px;
    right: 16px;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: var.$border-radius;
  background-color: var.$white-background-color;

  @include mixins.on-tablet {
    padding-block: 16px;
    padding-inline: 24px;
    width: 100%;
  }

  @include mixins.on-desktop {
    padding-block: 24px;
    padding-inline: 32px;
  }

  &__title {
    padding-bottom: 12px;

    @include mixins.on-desktop {
      padding-bottom: 16px;
    }
  }

  &__description {
    flex: 1;
  }

  &__details {
    padding-top: 16px;
    display: flex;
    gap: 8px;

    @include mixins.on-desktop {
      gap: 16px;
    }
  }
}

.preparation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background-color: var.$white-background-color;
    border-radius: var.$border-radius;
    padding: 12px;

    @include mixins.on-desktop {
      padding-inline: 24px;
      padding-block: 16px;
    }
  }

  &__instruction {
    color: var.$light-grey-color;
  }

  &__stepNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var.$background-color;
    border-radius: 50%;
  }

  &__stepNumberText {
    color: var.$primary-text-color;
  }

}

.ingredients {
  border-radius: var.$border-radius;
  background-color: var.$white-background-color;
  width: 100%;
  padding: 16px;

  @include mixins.on-desktop {
    padding: 32px;
  }

  &__title {
    padding-bottom: 16px;

    @include mixins.on-desktop {
      padding-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
    gap: 8px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__toast {
    position: absolute;
    bottom: -20px;
    right: 0;
    display: flex;
  }

  &__message {
    color: var.$primary-accent-color;
  }
}

.buttonAddToCart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
 
  font-family: inherit;
  border: none;
  width: 120px;
  height: 40px;
  
  color: var.$white-background-color;
  background-color: var.$primary-accent-color;
  border-radius: var.$border-radius;

  @include mixins.on-tablet {
    width: 96px;
    height: 32px;
  }

  @include mixins.on-desktop {
    width: 200px;
    height: 48px;
  }
}

.buttonInfo {
  width: 32px;
  height: 32px;
  border: 1px solid #FEEFE6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.on-desktop {
    width: 48px;
    height: 48px;
  }
  
  &__icon {
    display: block;
    width: 20px;
    height: 20px;
  
      mask-image: url('/src/img/icons/info.svg');
      mask-size: contain;
      background-color: var.$primary-accent-color;
  
      @include mixins.on-desktop {
        width: 24px;
        height: 24px;
      }
  }
 
}



